@*@model IEnumerable<CascadeDropdown.ViewModel.CountryViewModel>*@
@model IEnumerable<CascadeDropdown.Models.Country>

@{
    ViewBag.Title = "CountryList";
}

<h2>Country List</h2>

<p>
    @Html.ActionLink("Create New", "AddCountry")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CountryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CountryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditCountry", new { id=item.CountryID }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
